* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN02_Su2dcwGvS-XaUc9MapbDu1AKly_Hy2yKkhEvYncyl9jtfYg");
}
  
img {
  vertical-align: middle;
  }

.header {
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: #1da1f2;
  color: white;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
  border: dotted 10px;
  border-color: white;
  border-radius: 20px;
}

.first-section {
  display: flex;
  justify-content: center;
}

.white-box {
  display: flex;
  flex-direction: column;
  height: 83px;
  width: 651px;
  margin-top: 70px;
  background-color: white;
  border: solid 2px;
  border-color: white;
  border-radius: 20px;
}

.input-box {
  font-size: 24px;
  height: 37px;
  width: 650px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
 
.submit-button {
  width: 100px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: #1da1f2;
}

.second-section {
  display: flex;
  justify-content: center
}

.tweet-box {
  width: 650px;
  background-color: white;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 10px;
  white-space: pre-wrap;
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap;  
   white-space: -o-pre-wrap;   
   word-wrap: break-word; 
}

#count {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
  /* font-family: 'Roboto', sans-serif; */